<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AplicationForTesting.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="EntitiesModel" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ngknn.ru;initial catalog=PractikaKazanskiy;persist security info=True;user id=31П;password=12357;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <AplicationForTesting.Properties.Settings>
      <setting name="rb1A" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rb1B" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rb1V" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rb2A" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rb2B" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rb2V" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rb2G" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rb3A" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rb3B" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rb3V" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rb3G" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rb4A" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rb4B" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rb4V" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rb5A" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rb5B" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rb5V" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rb6A" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rb6B" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rb6V" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rb7A" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rb7B" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rb7V" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rb8A" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rb8B" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rb8V" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rb8G" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rb91" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rb92" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rb93" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rb94" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rb95" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rb101" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rb102" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rb103" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rb104" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rb105" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rb106" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cb111" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cb112" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cb113" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cb114" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cb115" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cb116" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cb121" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cb122" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cb123" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cb124" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cb125" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cb131" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cb132" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cb133" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cb134" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cb135" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cb141" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cb142" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cb143" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cb144" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cb145" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cb151" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cb152" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cb153" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cb154" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cb155" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cb161" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cb162" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cb163" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cb164" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cb165" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cb166" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rb1Y" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rb1N" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rb2Y" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rb2N" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rb3Y" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rb3N" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rb4Y" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rb4N" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rb5Y" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rb5N" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rb6Y" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rb6N" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rb7Y" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rb7N" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rb8Y" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rb8N" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rb9Y" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rb9N" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rb10Y" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rb10N" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rb11Y" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rb11N" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cb3A" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="cb3B" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="cb3V" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="cb3G" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="cb3D" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="cb3E" serializeAs="String">
        <value>-1</value>
      </setting>
    </AplicationForTesting.Properties.Settings>
  </userSettings>
</configuration>